{% extends "layout.html" %}

{% block title%} introduccion {% endblock%}

{% block content %}
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        
    </div>
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-blue bg-primary border rounded-3">
            <h2>agregar o eliminar activos</h2>
            <p>para agregar o eliminar activos tienes que registrarte e iniciar seccion, despues de iniciar seccion 
                ve al apartado menu y desplega la ventana emergente, das clic en la seccion de agregar o eliminar 
                activos, te pedira que ingreses tus datos de inicio, y listo podras modificar o eliminar activos.
            </p>
        </div>
    </div>
</div>
{% endblock %}