{% extends "layout.html" %}
 

{% block content %}


    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">LC</strong> </h1>
      <p class="col-md-8 fs-4">bienvenido a  LC,  tu empresa de confianza de soluciones eletricas 
        LC es una empresa fundada en colombia el 1 de enero de 2023 por leonardo y christian con el fin de dar soluciones a personas que necesiten ayuda en instalaciones electricas, apliques decorativos, lamparas, certificados electricos, ensambles de iluminacion, personalizacion de iluminaciones, instalaciones de tableros electricos, entre muchos mas servicios.   </p>
      <button class="btn btn-primary btn-lg"  href="{{ url_for('about') }}">servicios </a>

    </div>
  </div>
{% endblock %}